.menu
{
   background-color: black;
   color: white;


}
.menulista
{
 display: flex;
 justify-content: space-between;
 list-style-type: none;
 width: 800px;
 margin: auto;
 font-size: 32px;
 height: 50px;
 align-items: center;
}