.section
{
    max-width: 400px;
    margin: auto;
    border: 1px solid black;


}
.item
{
    background-color: tomato;
    margin: 5px;
    font-size: 32px;
    text-align: center;



}
.keven
{

   display: flex;
   justify-content: space-evenly;

}